html
    head
        title= title
        link(rel='stylesheet', href='styles/phdometer.css')
        meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' )
    body
        h1( style='text-align: center; padding-top: 8px;' ) Retrieve Password
        form#login( action='/recoverpassword', method='POST' class='authentication')
            input(type='hidden', name='recoverystage', value= recoverystage)
            if( recoverystage === 'emailuser' )
                input(type='email', name='email' placeholder='your email', required,autofocus)
                button(class='login', type='submit') Reset
            else if ( recoverystage === 'resetpassword' ) 
                input(type='hidden', name='id', value= id)
                input(type='password', name='password' placeholder='new password', required, autofocus)
                input(type='password', name='confirm' placeholder='confirm new password', required)
                button(class='login', type='submit') Reset
            br
            #message
                if message
                h1.text-center.error-message #{message}
        script( type='text/javascript', src='scripts/phdometer.stub.js')
